---
interface Props {
    title: string
    image: {src: string, width: number, height: number},
    slug?: string
}

const {title, image, slug} = Astro.props;
---

<div class="sm:mx-0">
    <a aria-label={title} href={slug} data-astro-prefetch>
        <img
            src={image.src}
            width={`${image.width}px`}
            height={`${image.height}px`}
            alt={`Cover Image for ${title}`}
            class="shadow-sm hover:shadow-lg transition-shadow duration-200 w-full"
        />
    </a>
</div>