---
import PostHeader from "../components/post/PostHeader.astro";
import BaseLayout from "./BaseLayout.astro";
import markdownStyles from '../styles/markdown-styles.module.css'

export interface Props {
	content: {
		title: string;
		description: string;
		date: string;
		tags: string;
		coverImage: string;
	};
}

const {
	content: { title, description, date, tags, coverImage },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
	<article class="mb-32">
		<PostHeader
		title={title}
		coverImage={coverImage}
		date={date}
		tags={tags}
	  />
	  <div class={markdownStyles['markdown']}>
			<slot />
	  </div>
	</article>
</BaseLayout>

