---
import PostHeader from "../components/post/PostHeader.astro";
import BaseLayout from "./BaseLayout.astro";
import markdownStyles from '../styles/markdown-styles.module.css'
import type PostType from "../types/post";

export interface Props {
	content: PostType
}

const {
	content: { title, excerpt, pubDate, tags, coverImage },
} = Astro.props;
---

<BaseLayout title={title} description={excerpt} image={coverImage}>
	<article class="mb-32">
		<PostHeader
		title={title}
		coverImage={coverImage}
		pubDate={pubDate}
		tags={tags}
	  />
	  <div class={markdownStyles['markdown']}>
			<slot />
	  </div>
	</article>
</BaseLayout>

